@import url(https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css);

html, body {
    height: 100%;
    margin: 0px;
    padding: 0px;
}

#SubText{
    color: rgba(167, 167, 167, 0.801);
    font-style: italic;
    font-family: Georgia, 'Times New Roman', Times, serif;
    text-transform: initial;
}

.card-body #SubText{
    font-style: normal;
    font-size: 12px;
}

.about{
    list-style: none;
    
}

#Home{
    background-image: url("..//images/main.jpg");
    
    color: white;
    text-align: center;
    width: 100%;
    height: 100vh;

    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

#Home #HomeContent{
    background-color: rgba(0, 0, 0, 0.5);
    padding-top: 30vh;
    height: 100vh;
}

#Home h3{
    font-style: italic;
    font-family: 'Times New Roman', Times, serif;
    font-size: 30;
}

#Home h1{
    text-transform: uppercase;
    font-size: 50px;
    padding: 20px;
}

.btn{
    background-color: rgb(255, 202, 55);
    outline-color: rgb(255, 202, 55);
    color: white;
    padding: 15px;
    padding-left: 35px;
    padding-right: 35px;
    text-transform: uppercase;
    border: none;
}

.btn:hover{
    background-color: rgba(255, 202, 55, 0.8);
}

.btn:focus{
    border: none;    
    outline-color: rgb(255, 202, 55);
}

.btn:active{
    outline-color: rgb(255, 202, 55);
}

#Services{
    padding: 10vh;
    height: auto;
    text-align: center;
    text-transform: uppercase;
}

#Services .card{
    border: 0px;
    text-transform: initial;
}

#Services .card img{
    border-radius: 50%; 
    margin-bottom: 15px;
}

#Services .card-title{
    font-weight: bold;
}

#Blog{
    background-color: rgb(248, 248, 248);
    padding: 4vh;
    height: auto;
    text-align: center;
    text-transform: uppercase;
}

#Blog .card{
    border: 0px;
    margin-top: 50px;
    text-transform: initial;
}

#Blog .card-title{
    font-weight: bold;
}

#Blog .btn{
    padding-left: 10px;
    padding-right: 10px;
}

#About{
    padding: 5vh;
    height: auto;
    text-align: center;
    text-transform: uppercase;
}

#About .container h5{
    font-weight: bold;
}

#About .container .row{
    margin-top: 70px;
}

#About p{
    padding-top: 50px;
    text-align: justify;
}

#right{
    text-align: right;
}

#left{
    text-align: left;
}

#Contact{
    background-color: rgb(31, 31, 31);
    padding-top: 10vh;
    color: white;
    text-align: center;
    text-transform: uppercase;
    height: auto;
    padding-left: 5px;
    padding-right: 5px;
}

#Contact textarea{
    resize: none;
}
#Contact input, textarea{
    margin-top: 30px;
    text-transform: uppercase;
}

#Contact button{
    margin: 10px;
    padding: 15px;
    padding-left: 35px;
    padding-right: 35px;
    border: none;
    align-items: center;
    text-transform: uppercase;
    background-color: rgb(255, 202, 55);
}

#Contact button:hover{
    background-color: rgba(255, 202, 55, 0.8);
}

#Contact textarea{
    height: 85%;
    min-height: 162px;
}

#Copyright{
    height: 10vh;
    text-align: center;
}

#Copyright p{
    padding-top: 4vh;
    margin-left: 10px;
    text-align: left;
    display: inline-block;
}

#Copyright button{
    text-align: center;
    border: none;
    background-color: rgb(36, 36, 36);
    color: white;
    width: 30px;
    height: 30px;
    border-radius: 15px;
    margin-top: 3vh;
    
}

#Copyright button:hover{
    background-color: rgb(56, 56, 56);
}

.navbar {
    border: none;
    background-color: rgba(0, 0, 0, 0.90);
    z-index: 100;
    transition: background-color 1s ease 0s;
}

.navbar-container{
    padding: 0px;
}

.navbar .active a, .nav a:focus {
	color:rgb(255, 202, 55, 0.8) !important;
	background-color: transparent !important;
}

.navbar-brand{
    padding: 5px;
}

.nav.navbar-nav.navbar-right li a {
    text-transform: uppercase;
    color: white;
    bottom: none;
}

.nav.navbar-nav.navbar-right li a:hover {
    text-transform: uppercase;
    color: rgb(172, 172, 172);
    bottom: none;
}

@media (max-width: 575px) {
    #right{
        text-align: center;
    }
    
    #left{
        text-align: center;
    }
}

@media (min-width: 1000px) {

    #Services{
        /*height: 100vh;*/
        padding-left: 230px;
        padding-right: 230px;

    }

    #Services .card{
        padding-top: 50px;
    }

    #Contact{
        height: 90vh;
        padding-left: 230px;
        padding-right: 230px;
    }

#Blog{
    height: auto;
    padding-left: 15%;
    padding-right: 15%;
    padding-bottom: 100px;
}

#About{
    padding: 10vh;
}

#About img{
    height: 160px;
    width: 160px;
}

#About p{
    margin-left: 15%;
    margin-right: 15%;
}

#about .container{
    padding-left: 10%;
    padding-right: 10%;
}

#copyright {
    text-align: center;
    margin-left: -320px;
    display: list-item;
}

#copyright p{
    padding-right: 100px;
}

.navbar {
    padding-left: 15%;
    padding-right: 15%;
    height: auto;
    background-color: transparent;
    border: none;
    color: white;
    z-index: 100;
    transition: background-color 1s ease 0s;
}

.navbar-container li a {
    text-transform: uppercase;
    color: white;
}

.navbar-container li a:hover {
    text-transform: uppercase;
    /*border-bottom: 3px solid white;*/
    color: rgb(172, 172, 172);
}



.navbar-container {
    padding: 40px 0 20px 0;
}

.navbar.navbar-fixed-top.fixed-theme {
    background-color: rgba(20, 20, 20, 0.95);
    border: none;
    box-shadow: 0 0 5px rgba(0,0,0,.8);
}

.navbar-container.fixed-theme li a {
    text-transform: uppercase;
    vertical-align: middle;
    border: none;
    height: 100%;
    /*color: rgba(172, 172, 172, 0.219);*/
}

.navbar-container.fixed-theme li a:hover {
    text-transform: uppercase;
    vertical-align: middle;
    background-color: rgba(128, 128, 128, 0.068);
    border: none;
    height: 100%;
    /*color: rgba(172, 172, 172, 0.219);*/
}

.navbar-container.fixed-theme {
    padding: 0;
    height: 5vh;
}

.navbar-brand.fixed-theme,
.navbar-container.fixed-theme,
.navbar.navbar-fixed-top.fixed-theme,
.navbar-brand,
.navbar-container{
    transition: 0.8s;
    -webkit-transition:  0.8s;
}

.navbar ul li { 
	color: #FFF !important;
	font-size: 13pt !important;
}



/* Animacion */
.navbar-nav a::before, .navbar-nav a::after {
	display: inline-block;
	opacity: 0;
	-webkit-transition: -webkit-transform 0.3s, opacity 0.2s;
	-moz-transition: -moz-transform 0.3s, opacity 0.2s;
	transition: transform 0.3s, opacity 0.2s;
}

.navbar-nav a:hover, .navbar-nav a:hover::before, .navbar-nav a:hover::after, .navbar-nav a:focus::before, .navbar-nav a:focus::after {
	color:rgb(255, 202, 55) !important;
	background-color: transparent !important;	
	opacity: 1;
	-webkit-transform: translateX(0px);
	-moz-transform: translateX(0px);
	transform: translateX(0px);
}

}
